<!DOCTYPE html>
<html>
  <head>
    <title>Clipt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">

    <link rel="stylesheet" href="public/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="public/css/main.css" media="screen">
    <!-- <link rel="stylesheet" href="public/css/main.min.css" media="screen"> -->

    <script>
      if (typeof module === 'object') {
        window.module = module; module = undefined;
      }
    </script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>

    <script src="public/js/app.js"></script>
    <script src="public/js/controllers.js"></script>
    <script src="public/js/services.js"></script>
    <!-- <script src="public/js/main.min.js"></script> -->

    <script>
      if (window.module) {
        module = window.module;
      }
    </script>
  </head>

  <body ng-app="clipt" ng-controller="MainCtrl">
    <ul id="clip-list">
      <li class="clip-item" ng-repeat="clip in clips | filter: search" ng-dblclick="copyClip($index)">
        <i class="delete-clip fa fa-trash-o" ng-click="deleteClip($index)"></i>
        <div class="clip">
          {{clip.text}}
        </div>
      </li>
    </ul>

    <div id="clip-list-search-spacer"></div>

    <div id="clip-search">
      <i class="fa fa-search"></i><input type="text" placeholder="Search..." ng-model="search">
    </div>

    <div id="copy-popup-container">
      <div id="copy-popup-message">
        Copied!
      </div>
    </div>
  </body>
</html>