* {
  cursor:default;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;

  -webkit-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#clip-list {
  margin: 0;
  padding: 0;
}

.clip-item {
  align-items: center;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  height: 100px;
  list-style: none;
  margin: 0;
  padding: 0;

  transition: all ease-out 300ms;
}

.clip-item:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;

  transition: all ease-out 300ms;
}

.clip-item:active {
  background-color: #cccccc;
  border-color: #cccccc;
}

.clip {
  font-size: 14px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}

#clip-list-search-spacer {
  height: 42px;
}

#clip-search {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  bottom: 0;
  color: #cccccc;
  display: flex;
  left: -1px;
  position: fixed;
  width: inherit;
}

#clip-search i {
  position: absolute;
  left: 10px;
}

#clip-search input {
  border: 0;
  font-size: 14px;
  height: 20px;
  padding: 10px 10px 10px 32px;
  width: inherit;
}

#clip-search input:focus {
  outline: none;
}