<div id="bookmarks" class="clip-list-container">
  <div id="clip-list" infinite-scroll="loadMore()" infinite-scroll-container="'#bookmarks'" infinite-scroll-distance="0">
    <li ng-repeat="clip in clips | limitTo: clipDisplayCount track by clip.id" ng-dblclick="copyClip($event, $index)">
      <div class="clip-container">
        <div class="clip-button-container">
          <i class="bookmark-icon favorited fa fa-star" ng-click="checkIfBookmarked($index)"></i>
          <i class="delete-icon fa fa-trash-o" ng-click="deleteClip($index)"></i>
        </div>

        <div class="clip">
          <div class="clip-type">{{::clip.type}}</div>
          <div class="clip-text">{{::clip.text}}</div>
        </div>
      </div>
    </li>
  </div>
</div>

<div id="search-bar">
  <i class="fa fa-search"></i>
  <input type="text" placeholder="Search..." ng-model="query">
</div>