<md-content class="clip-list-container" id="favorites">
  <!-- List of favorited Clips -->
  <md-list id="clip-list" infinite-scroll="loadMoreClips()" infinite-scroll-container="'#favorites'" infinite-scroll-distance="0">
    <li ng-repeat="clip in clips | limitTo: clipDisplayCount track by clip.id" ng-dblclick="copyClip($event, $index)">
      <div class="clip-container">
        <!-- Unfavorite and Delete buttons -->
        <div class="clip-button-container">
          <i class="favorite-clip favorited fa fa-star" ng-click="checkIfFavorited($index)"></i>
          <i class="delete-clip fa fa-trash-o" ng-click="deleteClip($index)"></i>
        </div>

        <!-- Clip type and text -->
        <div class="clip">
          <div class="clip-type">{{::clip.type}}</div>
          <div class="clip-text">{{::clip.text}}</div>
        </div>
      </div>
    </li>
  </md-list>
</md-content>

<!-- Search Bar -->
<div id="clip-search-container">
  <i class="fa fa-search"></i>
  <input type="text" placeholder="Search..." ng-model="query">
</div>