<md-content id="home" class="clip-list-container">
  <md-list id="clip-list" infinite-scroll="loadMore()" infinite-scroll-container="'#home'" infinite-scroll-distance="0">
    <li ng-repeat="clip in clips | limitTo: clipDisplayCount track by clip.id" ng-click="copyClip($event, $index)">
      <div class="clip-container">
        <div class="clip-button-container">
          <i class="bookmark-icon" ng-class="isBookmarked($index) ? 'bookmarked fa fa-star' : 'fa fa-star-o'" ng-click="checkBookmark($index)"></i>
          <i class="delete-icon fa fa-trash-o" ng-click="deleteClip($index)"></i>
        </div>

        <div class="clip">
          <div class="clip-type">{{::clip.type}}</div>
          <div class="clip-text">{{::clip.text}}</div>
        </div>
      </div>
    </li>
  </md-list>
</md-content>

<div id="search-bar">
  <i class="fa fa-search"></i>
  <input type="text" placeholder="Search..." ng-model="query">
</div>