<md-content id="clip-list-container">
  <div infinite-scroll="loadMoreClips()" infinite-scroll-container="'#clip-list-container'" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
    <!-- List of Clips -->
    <md-list id="clip-list">
      <md-list-item class="clip-item" ng-repeat="clip in clips | filter: search | limitTo: clipDisplayCount" ng-if="clipIsStarred($index)" ng-dblclick="copyClip($event, $index)">
        <!-- Star and Delete buttons -->
        <div class="clip-button-container">
          <!-- Change the star icon depending on whether the clip is starred or not -->
          <i class="star-clip" ng-class="clipIsStarred($index) ? 'starred fa fa-star' : 'fa fa-star-o'" ng-click="checkStar($index)"></i>

          <i class="delete-clip fa fa-trash-o" ng-click="deleteClip($index)"></i>
        </div>

        <!-- Clip type and text -->
        <div class="clip">
          <div class="clip-type">{{clip.type}}</div>
          <div class="clip-text">{{clip.text}}</div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>