#clipt-about {
  margin: 10px;
}

#about-image-container {
  display: block;
  margin: 0 auto 20px auto;
}

#about-image {
  display: block;
  height: 60px;
  margin: 0 auto 20px auto;
  width: 60px;
}

#about-content-container {
  text-align: center;
}

#about-content {
  font-size: 12px;
}

#about-app-name,
#about-credits {
  font-weight: 900;
}

  #about-app-name {
    font-size: 14px;
  }

  #about-app-name,
  #about-version,
  #about-creditor {
    margin-bottom: 15px;
  }

#about-credits {
  margin-bottom: 0px;
}