.clip-list {
  /*height: calc(100% - 70px);*/
  height: calc(100% - 40px);
  margin-left: 50px;
  padding: 0;
  width: calc(100% - 50px);
}

  .clip-list li {
    list-style: none;
    outline: none;
  }