* {
  cursor: default !important;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-user-select: none;
}

html, body, div[ng-view] {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Side bar menu */
#menu {
  background-color: #1a1a1a;
  height: 100%;
  position: fixed;
  width: 50px;
}

.menu-icon {
  color: #b3b3b3;
  display: block;
  font-size: 30px;
  margin: 15px auto;
  outline: none;
}

.menu-icon:hover, .menu-icon.active {
  color: #e6e6e6;
}