#clipt-settings {
  height: 100%;
  margin-left: 50px;
}

#settings-tabs {
  height: 100%;
}

#settings-container {
  padding: 30px;
}

#settings-container .col-1 {
  width: 100%
}

#settings-container .col-2 {
  width: calc(50% - 2.5px);
}

#settings-container md-input-container {
  padding: 0;
}

#settings-container md-input-container input {
  border-color: rgba(38, 38, 38, 0.2);
}

#settings-container md-select {
  color: #262626;
}

/* Selection menu underline color when focused */
md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: #262626;
}

/* Input container label color */
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #262626;
}

/* Dropdown list placeholder color */
md-input-container.md-input-focused:not(.md-input-has-value) md-select
.md-select-value.md-select-placeholder {
  color: #262626;
}

/* Input container input color */
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #262626;
}

/* Underline and ink ripple color, respectively */
md-tabs md-ink-bar {
  background-color: #262626;
  color: #333333;
}

/* Active tab font color */
md-tabs .md-tab.md-active {
  color: #262626;
}

/* Disable the content animation when switching tabs */
[role="tabpanel"] {
  transition: none;
}