<div id="about">
  <div id="about-image-container">
    <img id="about-image" src="public/img/about.png">
  </div>

  <div id="about-content-container">
    <div id="about-app-name">Clipt</div>

    <div id="about-content">
      <div id="about-version">Version {{AboutCtrl.scope.appVersion}}</div>
      <div id="about-credits">Credits</div>

      <div id="about-creditor">
        Icons: <a href="" ng-click="AboutCtrl.scope.openLink('https://goo.gl/C6pdp0')">Nicholas Merten</a>
      </div>

      <div id="about-author">
        Copyright © 2016 <a href="" ng-click="AboutCtrl.scope.openLink('https://goo.gl/53rcXV')">Anthony Li</a>
      </div>
    </div>
  </div>
</div>