<md-content id="clipt-settings">
  <md-tabs id="settings-tabs" md-stretch-tabs="always" md-no-pagination>
    <md-tab id="settings-general" label="General">
      <div id="settings-container">
        <!-- Image format when pasting and image from a Clip -->
        <md-input-container class="col-1">
          <label>Image Format</label>
          <md-select ng-model="settings.imageFormat" ng-change="switchImageFormat()">
            <md-option value="jpg">jpg</md-option>
            <md-option value="png">png</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-tab>

    <md-tab id="settings-hotkeys" label="Hotkeys">
      <div id="settings-container">
        <!-- Shortcut to open/close the application window -->
        <md-input-container id="open-close" class="col-2">
          <label>Open/Close Window</label>
          <input id="open-close" class="task" ng-model="(settings.shortcuts | filter: {task:'open-close'})[0].shortcut">
        </md-input-container>
      </div>
    </md-tab>
  </md-tabs>
</md-content>