#clip-search-container {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  bottom: 0;
  color: rgba(38, 50, 56, 0.5);
  display: flex;
  margin-left: 49px;
  width: calc(100% - 50px);
  z-index: 2;

  /* Search bar icon */
  i {
    left: 60px;
    position: absolute;
  }

  /* Search bar text input area */
  input {
    border: 0;
    font-size: 14px;
    height: 20px;
    outline: none;
    padding: 10px 10px 10px 32px;
    width: 100%;
  }
}