#search-bar {
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  bottom: 0;
  color: rgba(55, 55, 55, 0.5);
  display: flex;
  margin-left: 50px;
  position: fixed;
  width: calc(100% - 50px);

  /* Search bar icon */
  i {
    margin-left: 8px;
    position: fixed;
  }

  /* Search bar text input area */
  input {
    border: 0;
    font-size: 14px;
    height: 20px;
    outline: none;
    padding: 10px 10px 10px 30px;
    width: 100%;
  }
}