#title-bar-container {
  height: 38px;

  -webkit-app-region: drag;
}

[id$="-title-bar"] {
  background-color: #262626;
  height: 38px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#short-title-bar {
  width: calc(100% - 126px);
}

/* Title bar button container */
#title-bar-button-container {
  background-color: #262626;
  height: 38px;
  position: fixed;
  right: 0;
  top: 0;
  width: 126px;

  -webkit-app-region: no-drag;

  button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    height: 38px;
    justify-content: center;
    outline: 0;
    position: fixed;
    width: 42px;

    span {
      background-color: #ffffff;
      height: 2px;
      position: absolute;
    }

    &:hover {
      background-color: #999999;
    }
  }
}

/* Minimize button */
#minimize-button {
  right: 84px;

  span {
    width: 16px;
  }
}

/* Maximize button */
#maximize-button {
  right: 42px;

  span {
    width: 6px;

    &:nth-child(1) {
      left: 10px;
      top: 12px;
    }

    &:nth-child(2) {
      left: 12px;
      top: 10px;
    }

    &:nth-child(3) {
      left: 12px;
      top: 13px;
      width: 8px;
    }

    &:nth-child(4) {
      left: 26px;
      top: 24px;
    }

    &:nth-child(5) {
      left: 24px;
      top: 26px;
    }

    &:nth-child(6) {
      left: 22px;
      top: 23px;
      width: 8px;
    }
  }
}

/* Close button */
#close-button {
  right: 0px;

  span {
    width: 24px;
  }
}