<!DOCTYPE html>
<html>
  <head>
    <title>Clipt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load CSS files -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css" media="screen">
    <link rel="stylesheet" href="public/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="public/css/about.css" media="screen">
    <link rel="stylesheet" href="public/css/animations.css" media="screen">
    <link rel="stylesheet" href="public/css/clip-list.css" media="screen">
    <link rel="stylesheet" href="public/css/clip-search.css" media="screen">
    <link rel="stylesheet" href="public/css/clip.css" media="screen">
    <link rel="stylesheet" href="public/css/copy-popup.css" media="screen">
    <link rel="stylesheet" href="public/css/home.css" media="screen">
    <link rel="stylesheet" href="public/css/settings.css" media="screen">
    <link rel="stylesheet" href="public/css/side-menu.css" media="screen">
    <link rel="stylesheet" href="public/css/title-bar.css" media="screen">

    <!-- Load JavaScript files -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/controllers/aboutController.js"></script>
    <script src="public/js/controllers/homeController.js"></script>
    <script src="public/js/controllers/settingsController.js"></script>
    <script src="public/js/controllers/sideMenuController.js"></script>
    <script src="public/js/controllers/titleBarController.js"></script>
    <script src="public/js/services/homeService.js"></script>
    <script src="public/js/services/settingsService.js"></script>
    <script src="public/js/services/titleBarService.js"></script>
  </head>

  <body ng-app="clipt">
    <!-- Title bar -->
    <div id="title-bar" ng-controller="TitleBarCtrl">
      <div id="title-bar-button-container">
        <!-- Minimize button -->
        <button id="minimize-button" ng-click="clickTitleBarButton('minimize')">
          <span></span>
        </button>

        <!-- Maximize button -->
        <button id="maximize-button" ng-click="clickTitleBarButton('maximize')">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>

        <!-- Close button -->
        <button id="close-button" ng-click="clickTitleBarButton('close')">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

    <!-- Side bar menu -->
    <md-toolbar id="side-menu" ng-controller="SideMenuCtrl">
      <i class="side-menu-icon fa fa-home" ng-class="{active: activeMenu === 'home'}" ng-click="setActiveMenu('home')"></i>
      <i class="side-menu-icon fa fa-star" ng-class="{active: activeMenu === 'starred'}" ng-click="setActiveMenu('starred')"></i>
      <i class="side-menu-icon fa fa-cog" ng-class="{active: activeMenu === 'settings'}" ng-click="setActiveMenu('settings')"></i>
    </md-toolbar>

    <!-- Popup when copying a Clip -->
    <div id="copy-popup-container">
      <div id="copy-popup-message">
        Copied!
      </div>
    </div>

    <div ng-view autoscroll="true"></div>
  </body>
</html>